.block__title{
    font-size: 35px;
}
.block_list{
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px 50px;
}
.block_list.programs .block_list__li{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 130px 1fr;
    grid-template-columns: 130px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: 'a b';
}
.block_list__item.channels{
    cursor: pointer;
    position: relative;
}
.block_list__item.channels.active:after{
    content: "";
    position: absolute;
    left: -22px;
    transform: translate(0, -50%);
    top: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
}
.block_list__item.channels:hover{
    text-decoration: underline;
}
.block_list__title{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
}
.block_list__date{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    font-size: 13px;
    grid-area: a;
}
.block_list__li.past{
    color: gray;
    font-size: small;
}
.block_list__li.current{
    color: black;
    border-bottom: 2px solid green;
    margin-bottom: 10px;
}
.block_list__li.current .block_list__title{
    font-size: x-large;
    font-weight: bold;
}
@media screen and (max-width: 768px){
    .block_list{
        padding: 16px 30px;
    }
    .block_list.programs .block_list__li{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'a' 'b';
    }
    .block__title{
        font-size: 20px;
    }
    .block_list__li{
        word-break: break-word;
    }
    p{
        margin: 0;
    }
    .block_list.programs .block_list__li:nth-child(n+2){
        margin-top: 20px;
    }
    .block_list__li.current .block_list__title{
        font-size: medium
    }
    .block_list__item.channels.active:after{
        top: 5px;
        transform: translate(0,0);
    }
}